#grid {
    display: flex;
    flex-direction: column;
    height: 960px;
    width: 960px;
}

.row {
    display: flex;
}

.box {
    background-color: lightblue;
    display: flex;
    flex: auto;
}

#highlight {
    background-color: blue;
}